@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'logo';
    src: url(../public/fonts/Saphifen.ttf);
}

.shadow {
    box-shadow: -5px -5px 10px black, 5px 5px 10px black;
}

.desText {
    text-align: justify;
}

@media (min-width: 720px) {

    /* For webkit browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
        width: 7px;
        /* Narrow scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #333;
        /* Dark color for the scrollbar thumb */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #111;
        /* Dark color for the scrollbar track */
    }

}